@import '../../../variables.scss';


.todo{
    border: 1px solid $secondary_color;
    border-radius: 5px;
    padding: 1rem;

    color: $txt_color;

    &_desc{
        letter-spacing: 1px;
        font-size: 1.1rem;
    }
}